<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="29" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:roundIcon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.PDFReader"
        android:usesCleartextTraffic="true">

        <!-- New Main Activity with Bottom Navigation -->
        <activity
            android:name=".MainActivityNew"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Reading Session Activity -->
        <activity
            android:name=".ReadingSessionActivity"
            android:exported="false"
            android:theme="@style/Theme.PDFReader" />

        <!-- Legacy Main Activity (kept for compatibility) -->
        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <activity
            android:name=".PdfReaderActivity"
            android:exported="false"
            android:theme="@style/Theme.PDFReader" />

        <activity
            android:name=".SearchActivity"
            android:exported="false"
            android:theme="@style/Theme.PDFReader" />

        <activity
            android:name=".SignPdfActivity"
            android:exported="false"
            android:theme="@style/Theme.PDFReader" />

        <activity
            android:name=".CaptureSignatureActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.PDFReader.NoActionBar" />

        <activity
            android:name=".ReviewSignatureActivity"
            android:exported="false"
            android:theme="@style/Theme.PDFReader" />

        <activity
            android:name=".MergePdfActivity"
            android:exported="false"
            android:theme="@style/Theme.PDFReader" />

        <activity
            android:name=".ImageToPdfActivity"
            android:exported="false"
            android:theme="@style/Theme.PDFReader" />

        <activity
            android:name=".EpubReaderActivity"
            android:exported="false"
            android:theme="@style/Theme.PDFReader" />

    </application>

</manifest>
